<!DOCTYPE html>
{% extends 'testapp/base.html'%}
  {% block body_block %}
  <div class='center'>
  <p class="awesome"> SIPNA COET EXAM PORTAL</p>
</div>
        <div class="jumbotron">
          <div class="container">
            <h1> Rules:</h1>

       <div class="alert alert-danger" role="alert">
         Rule 1: you should write only one exam per day
       </div>
       <div class="alert alert-info" role="alert">
         Rule 2: Appear for exam between 11 pm to 1 pm
       </div>
       <div class="alert alert-success" role="alert">
         Rule 3: Exam Portal will be Activated at 11 PM and Closed at 1 PM (IST) Total Two Hour
       </div>
       <div class="alert alert-danger" role="alert">
         Rule 4: Exam Portal will closed at sharp 1 PM.
       </div>
       <div class="alert alert-warning" role="alert">
         Rule 5: After closing of exam portal last few minutes will be provided only for verification of submissions, reading emails, checking messages, applying for mark sheet and confirming results etc.
       </div>
       <div class="alert alert-info" role="alert">
         Rule 6: We will not be responsible for any lack of time and its losses.
       </div>
    </div>
  </div>
{% endblock %}
